flask
flask-sqlalchemy
flask-socketio
simple-websocket
numpy==1.26.4
pandas>=2.2.0,<3.0.0
pandas-ta-openbb
psycopg2-binary
SQLAlchemy
chromadb
prophet
xgboost
scikit-learn
scipy
transformers<4.40.0
sentence-transformers
google-genai>=0.3.0
groq
yfinance
finnhub-python
tenacity
joblib
reportlab
matplotlib
